@font-face {
  font-family: "Fredoka One";
  src: url("../assets/fonts/FredokaOne-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

:root {
  --green: #58db8f;
  --lightGreen: #e7f4e9;
  --red: #e2393e;
  --lightGray: #f5f5f5;
  --bgColor: #fafcfe;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  border: 1px solid blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One";
}

p,
div,
input,
button {
  font-family: Roboto;
}
