@import "./common.css";

#game {
  max-width: 1200px;
  height: 75vh;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* HEADER */
.panel-left {
  width: 60vw;
  border-radius: 16px;
}

.panel-right {
  width: 25vw;

  display: grid;
  grid-template-rows: auto auto 2fr;

  margin-bottom: 0;

  border-radius: 6px;
}

/* INTERACTIVE MAP */
#map {
  height: 100%;
}

/* RIGHT GAME PANEL */
.indicator-co2 {
  padding: 0rem 1rem 1rem 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 1px 3px 9px 3px rgba(0, 0, 0, 0.08);
  /* box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}

.indicator-co2:hover {
  transform: scale(1.025);
  transition-duration: 300ms;
}

.full_budget_container {
  background-color: var(--lightGreen);
  border-radius: 16px;
  width: 100%;
}
#co2-container {
  background-color: var(--green);
  border-radius: 16px;
  width: 100%;
  height: 20px;
}

/* TIME */
.indicator-time {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
  padding: 0;
}

.time:hover {
  transform: scale(1.025);
  transition-duration: 300ms;
}
.guide:hover {
  transform: scale(1.025);
  transition-duration: 300ms;
}

.indicator-time li {
  width: calc(50% - 0.6rem);
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0.3rem;
  margin: 0.3rem;
  background: #ffffff;
  box-shadow: 1px 3px 9px 3px rgba(0, 0, 0, 0.08);
  /* box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}

.time-goal {
  color: var(--green);
}

.guide {
  text-align: left;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: #ffffff;
  box-shadow: 1px 3px 9px 3px rgba(0, 0, 0, 0.08);
  /* box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
}

.guide h5 {
  margin: auto;
}

.guide_messages {
  text-align: left;
  font-size: small;
}

.timezonemap_picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 0.1rem;
  border: thick #1f1f1f;
}

.blue-icon {
  background-color: #2474ff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.green-icon {
  background-color: #27ba35;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
