header {
  max-width: 1200px;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  align-items: center;
  display: flex;
}

.header_title {
  margin-left: 1rem;
}

.header_picture img {
  height: 70px;
}

.input-userName {
  display: flex;
  flex-direction: column;
}

.textarea_container {
  max-width: 400px;
  align-items: center;

  display: flex;
  justify-content: space-between;

  border-color: #58db8f;
  border-style: solid;
  border-radius: 16px;

  padding: 0.3rem 0.5rem;
}

.textarea_container textarea {
  width: 12vw;
  height: 2vw;
  border: none;
}

.alert {
  color: var(--red);
  display: none;
  font-size: 14px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
